@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@300&family=Raleway:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.josefin {
    font-family: 'Josefin Slab', serif;
}

.raleway {
    font-family: 'Raleway', sans-serif;
}


.margin-left {
    margin-left: 100px;
}

.video-position {
    position: fixed !important;
}

body {
    width: 100vw;
    height: 100vh;
}

.left-bar {
    padding: 30px 30px 30px 40px;
}

.logo-box img {
    width: 100%;
    border-radius: 3px;
}

.menu-box {
    position: relative;
}

.menu {
    background-color: #fff;
    border-radius: 3px;
    padding: 15px 20px;
    margin-top: 25px;
    text-align: center;
    display: block;
    text-decoration: none;
    font-size: 22px;
    color: #000000;
    font-weight: bold;
}

.menu i {
    color: #ff9f9f;
}

.menu:hover {
    background: #099;
    color: #fff;
    transition: .2s ease;
    text-decoration: none;
}

.menu:focus {
    background-color: #099;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
    text-decoration: none;
    color: #ffffff;
}

.footer {
    margin-top: 40px;
}

.footer-text {
    padding: 15px 0px;
    background-color: #ffffff;
    border-radius: 3px;
    color: rgb(0, 0, 0);
}

.footer-text p {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.content-box {
    padding: 30px 80px 30px 100px;
}

.tab-buttons {
    padding: 7px 0;
    border-radius: 3px;
    background-color: rgba(0, 153, 153, .9);
    margin-bottom: 30px;
}

.nav-tabs.nav-justified>li>a {
    border: none;
    border-bottom: none;
    border-radius: 0px;
    color: #000000;
    font-size: 22px;
    font-weight: bold;
}

.nav-tabs.nav-justified>li>a:hover {
    background-color: transparent;
    color: #ff8787;
    text-decoration: underline;
    transition: .1s ease;
}

.nav-tabs.nav-justified>.active>a,
.nav-tabs.nav-justified>.active>a:hover,
.nav-tabs.nav-justified>.active>a:focus {
    border: none;
    color: #ff8787;
    background-color: transparent;
    text-decoration: underline;
}

.coffee-menu-single {
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, .8);
    border: 3px solid #ffffff;
    border-radius: 3px;
}

.menu-img {
    padding: 11px 0px 10px 10px;
}

.menu-img img {
    display: block;
    width: 100%;
    border-radius: 3px;
}

.menu-description {
    height: 100%;
    padding: 40px 25px;
    margin-left: 30px;
    font-size: 16px;
    border-radius: 3px;
    line-height: 23px;
}

.menu-heading-price {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.menu-price {
    color: #ff4949;
}

.order-button {
    margin-top: 15px;
}

.order-button a {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    background-color: #099;
    padding: 10px 15px;
    text-align: center;
    border-radius: 3px;
}

/*Small devices (landscape phones, 576px and less) */
@media (max-width: 576px) {
    .recepies {
        padding: 30px 15px 30px 10px;
        margin-right: 20px;
    }

    .menu-img {
        padding-top: 10px;
        padding-left: 10px;
    }

    .menu-img img {
        width: 95%;
    }

    .left-bar {
        margin-left: 0px;
        padding-left: 20px;
    }

    .font-18 {
        font-size: 18px;
    }
}

.special-item-single {
    padding: 5%;
    background-color: #fff;
    border-radius: 3px;
    margin-bottom: 30px;
}

.special-item-image img {
    width: 100%;
    display: block;
    border-radius: 3px;
}

.special-item-desc {
    margin-top: 20px;
}

.about-us-box {
    background-color: rgba(255, 255, 255, .9);
    border-radius: 3px;
    padding: 5%;
    margin-bottom: 20px;
}

.about-us-img img {
    width: 100%;
    display: block;
    border-radius: 3px;
}

.about-us-heading {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
}

.about-us-box p {
    font-size: 18px;
}

.contact-us-box {
    background-color: #ffffff;
    background-image: url(/assets/images/map.webp);
    background-repeat: no-repeat;
    background-position: bottom right;
}

.contact-us-address p {
    font-size: 18px;
    text-decoration: underline;
    margin-bottom: 7px;
}

.contact-us-address h2 {
    font-size: 26px;
    margin-right: 10px;
    text-decoration: underline;
}

.contact-us-address i {
    font-size: 20px;
    margin-right: 10px;
}

.email-box {
    background-color: #ffffff;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #099;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #099;
}

/*Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .recepies {
        padding: 30px 50px 30px 40px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .full-height {
        height: 100vh;
    }

    .overflow-y-scroll {
        overflow-y: scroll;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}


@media (min-width: 1345px) and (max-width: 1504px) {
    .menu {
        font-size: 18px;
        font-weight: bold;
    }
}

@media (min-width: 992px) and (max-width: 1344px) {
    .menu {
        padding: 10px 0px;
        font-size: 16px;
        font-weight: lighter;
    }
}

@media (max-width: 767px) {

    /* Margin bottom for menu tabs */
    .margin-bottom {
        margin-bottom: 30px;
    }
}